

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<style>
  /* Default styles for desktop */
  .wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    margin: 5px;
  }
  .left-column {
    flex: 0 0 400px;
    padding: 40px;
  }
  .right-column {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: flex-end; /* Align children to the right */
  }
  .right-column img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  /* Mobile styles */
  @media (max-width: 600px) {
    .wrapper {
      flex-direction: column;
    }
    .left-column, .right-column {
      max-width: 100%;
      flex-basis: 100%;
    }
    .right-column img {
      width: 100%; /* Full width */
    }
    nav ul {
      text-align: center;
    }
    nav li {
      display: inline-block;
      margin-right: 10px; /* Adjust as needed */
    }
    footer {
      margin-top: 50px;
    }
  }
</style>

<div class="wrapper">
  <!-- Left column for navigation and about text -->
  <div class="left-column">
    <h1 style="font-size: 30px; margin: 0;">
	<li><a href="https://matteosaponati.github.io/">matteosaponati</a></li></h1>
    <p style="margin-bottom:1cm;"></p>
    <nav style="font-size: 25px; margin-top: 20px;">
      <ul style="list-style: none; padding: 0;">
      <ul class="link-list">
        <li><a href="https://matteosaponati.github.io/research">research</a></li>
        <li><a href="https://matteosaponati.github.io/year-archive/">blog</a></li>
        <li><a href="https://matteosaponati.github.io/music">music</a></li>
        <li><a href="/files/cv.pdf">cv</a></li>
      </ul>
      </ul>
    </nav>
    <p style="margin-bottom:2cm;"></p>

 </div>
  <!-- Right column for the featured image -->
  <div class="right-column">


<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

  </article>
</div>
